@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Welcome to the Soccer Game Web Page Where you can see the Players, Teams and Divsions for the 2021 tournament.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Watch a fun game of soccer game if you a stressed
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=vydW6fsn7sQ" class="stretched-link">Watch a Mario Soccer Game</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    you can watch the game that was played before this one.
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=rxslQS6KTS4" class="stretched-link">watch the last match played</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    If you click the players tab you can see the PlayerName, Age, Position and TeamID.
                </p>
                <p>
                    <a href="https://localhost:5001/Players" class="stretched-link">If you can't find Players tab click on the link.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    If you click the Dvision tab you can see the DivisionName and Location of where the next match for that divsion will be played.
                </p>
                <p>
                    <a href="https://localhost:5001/Divisions" class="stretched-link">If you can't find Divisions tab click on the link.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    If you click the Teams tab you can see the TeamName and the Division each team is on.
                </p>
                <p>
                    <a href="https://localhost:5001/Teams" class="stretched-link">If you can't find Teams tab click on the link.</a>
                </p>
            </div>
        </div>
    </div>
</div>